.hidden {
	display:none;
}
.floatLeft {
	float:left;
}
.floatClear {
	clear:both;
}

.nav {
    margin:0;
}
div.olMap {
	float:left;
}
#nlcdlegendOld {
	width: 244px;
	position: relative;
    left: 758px;
    top: 152px;
    height: 400px;
	z-index: 10;
}
#nlcdimg {
    width: 244px;
    height: 400px;
	position: absolute;
	left: 757px;
	top: 150px;
	z-index: 1000;
}
.nlcdThumb {
    top: 613px;
}

.legendThumb {
    background-color: #345280;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 19px;
    left: 895px;
    padding-top: 3px;
    position: absolute;
    width: 106px;
    z-index: 10;
    text-align: center;
}



#nlcdimg {
	display:none;
}
#nlcdthumb {
    display:none;
}
.siteLegend {
    background-color: #FFFFFF;
    color: #345280;
    font-family: inherit;
    font-weight: bold;
    left: 735px;
    position: absolute;
    top: 514px;
    width: 265px;
    z-index: 9;
    border-left: solid 1px black;
}
.siteLegend .discrete {
}
.siteLegend .daily {
}
.siteLegend .legendEntry {
    border-top: solid 1px black;
    height: 70px;
}
.siteLegend .legendDesc {
    font-size:9px;
}
.siteLegend .legendIcon {
    display:inline-block;
    float:left;
}
.siteLegend .legendIcon img {
    opacity:0.5;
}
.siteLegend .legendLabel {
    height:51px;
    margin-left:17px;
    display:inline-block;
}
.siteLegend .legendLabel div {
    height:33%;
}
.siteThumb {
    top: 634.5px;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: #345280;
}


div.filter {
    position: absolute;
    top: 105px;
    left: 1005px;
    border:1px solid;
    padding:3px;
    width: 337px;
    height: 544px;
}
div.filterScroll {
    width: 353px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}
div.filter input {
    border: 1px solid #345280;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    margin: 1px 0 1px 0;
    background-color: #ddeeff;
}

div.filter input[type=button] {
	color: #113355;
	font-weight:bold;
	box-shadow: 2px 2px #335577;
}

div.filter input[type=button]:hover {
    color: #557799;
}

div.filter input[type=button]:active {
    box-shadow: 0px 0px;
	top: 2px;
	left: 2px;
	position: relative;
}

div.filter
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="button"]:hover,
.uneditable-input:focus {
  border-color: rgba(0, 0, 100, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 100, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 100, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 100, 0.6);
}

div.filter
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

div.filterGroup {
    border: 1px solid #345280;
    margin:2px 1px 2px 1px;
    background-color: #BBDDFF
}

div.filterGroupLabel {
    color:white;
    background-color: #345280;
    font-weight: bold;
    text-align:center;
}

div.filter span.label {
	text-align:right;
	padding-right:3px;
}

div.filter div.warn, div.filterWarn {
    color:#990000;
    background:#FFCCCC;
    border-radius: 5px;
    padding: 0 4px 0 4px;
}
div.filter div.inputFilterWarnOn {
    padding: 1px 5px 1px 5px;
    border: 1px solid #990000;
}
.pleaseFix {
    margin-left: 5px;
    position: absolute;
    z-index: 9999;
    border: 1px solid;
    left: 900px;
    top: 80px;
}
div.filter div.inputFilterWarn input {
	border: 1px solid #990000;
}
div.filter div.hiRange span.label {
	text-align:right;
}
div.filter div.filterAll span.label {
    width:210px;
    display:inline-block;
}
div.filter div.filterOdd {
	background-color:#EEEEEE;
}

.stateFilter {
	position:relative;
}
.stateFilterLabel {
	width:170px !important;
	position:absolute;
	top:1px;
}


#siteInfo {
    position: absolute;
    left: 50px;
    top: 110px;
    border: 2px solid #345280;
    color: #345280;
    background-color: #D4DEED;
    display:none;
}
.singleSiteInfo {
	width:900px;
	clear:both;
	border-top: 1px solid;
	display:none;
}
.siteDatum {
    width:150px;
    float: left;
}
.siteInfoLabel {
    font-weight:bold;
    clear:both;
}
.siteInfoSubLabel {
	margin-left: 10px;
    width: 75px;
}
.siteInfoSubLabel:after {
    content:':';
}
.siteInfoData {
    margin-left: 20px;
	float: left;
}






/* ==========================================================
 * Spinner
 * =========================================================*/
.spinner{
     width:100px;
     height:100px;
     margin:30px auto;
     position:relative;
     -webkit-animation: rotateit 1.3s linear infinite;
     -moz-animation: rotateit 1.3s linear infinite;
     animation: rotateit 1.3s linear infinite;
}
@-webkit-keyframes rotateit {
     from {
          -webkit-transform: rotate(360deg);
     }
     to {
          -webkit-transform: rotate(0deg);
     }
}
@-moz-keyframes rotateit {
     from {
          -moz-transform: rotate(360deg);
     }
     to {
          -moz-transform: rotate(0deg);
     }
}
@keyframes rotateit {
     from {
          transform: rotate(360deg);
     }
     to {
          transform: rotate(0deg);
     }
}
/*=======================================================
 * Circles
 *======================================================*/
.spinner.circles div{
     width: 20px;
     height: 20px;
     border-radius:50%;
     background: black;
     position: absolute;
     top: 35px;
     left: 45px;
}
.spinner.circles div:nth-child(1){
     -webkit-transform: rotate(0deg) translate(0, -35px) scale(1.4);
     -moz-transform: rotate(0deg) translate(0, -35px) scale(1.4);
     transform: rotate(0deg) translate(0, -35px) scale(1.4);
}
.spinner.circles div:nth-child(2){
     -webkit-transform: rotate(45deg) translate(0, -35px) scale(1.2);
     -moz-transform: rotate(45deg) translate(0, -35px) scale(1.2);
     transform: rotate(45deg) translate(0, -35px) scale(1.2);
     opacity:0.7;
}
.spinner.circles div:nth-child(3){
     -webkit-transform: rotate(90deg) translate(0, -35px) scale(1.1);
     -moz-transform: rotate(90deg) translate(0, -35px) scale(1.1);
     transform: rotate(90deg) translate(0, -35px) scale(1.1);
     opacity:0.6;
}
.spinner.circles div:nth-child(4){
     -webkit-transform: rotate(135deg) translate(0, -35px) scale(0.9);
     -moz-transform: rotate(135deg) translate(0, -35px) scale(0.9);
     transform: rotate(135deg) translate(0, -35px) scale(0.9);
     opacity:0.5;
}
.spinner.circles div:nth-child(5){
     -webkit-transform: rotate(180deg) translate(0, -35px) scale(0.7);
     -moz-transform: rotate(180deg) translate(0, -35px) scale(0.7);
     transform: rotate(180deg) translate(0, -35px) scale(0.7);
     opacity:0.4;
}
.spinner.circles div:nth-child(6){
     -webkit-transform: rotate(225deg) translate(0, -35px) scale(0.5);
     -moz-transform: rotate(225deg) translate(0, -35px) scale(0.5);
     transform: rotate(225deg) translate(0, -35px) scale(0.5);
     opacity:0.3;
}
.spinner.circles div:nth-child(7){
     -webkit-transform: rotate(270deg) translate(0, -35px) scale(0.3);
     -moz-transform: rotate(270deg) translate(0, -35px) scale(0.3);
     transform: rotate(270deg) translate(0, -35px) scale(0.3);
     opacity:0.2;
}
.spinner.circles div:nth-child(8){
     -webkit-transform: rotate(315deg) translate(0, -35px) scale(0.1);
     -moz-transform: rotate(315deg) translate(0, -35px) scale(0.1);
     transform: rotate(315deg) translate(0, -35px) scale(0.1);
     opacity:0.1;
}

div.downloadNote {
    font-size: 10px;
    width: 100%;
}

div.blackoverlay {
    margin:0;
    padding:0;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:998;
    background-color: rgba(0,0,0,0.8);
}
div.downloadWindow {
    margin:0;
    padding:0;
    position:absolute;
    top:200px;
    left:500px;
    width:340px;
    height:auto;
    z-index:999;
    font-weight:bold;
    border: 5px solid #345280;
    background-color: #bdf;
}
div.downloadWindow .center {
    text-align: center;
}
div.downloadWindow .buttons {
    padding-bottom:5px;
}
div.downloadWindow .subitem {
    padding-left:20px;
}
div.downloadWindow .title {
    color:white;
    font-weight:bold;
    background-color:#345280;
    border-bottom: 1px solid #345280;
}
div.downloadWindow .closeWindow {
    color:white;
    text-align: center;
    position:relative;
    left:320px;
    top:-20px;
    width:20px;
    border-left: 1px solid white;
    cursor:pointer;
}
div.downloadWindow ul {
    list-style-type: none;
}
div.downloadWindow li {
    padding-bottom: 5px;
    clear:both;
}

div.downloadWindow input {
    border: 1px solid #345280;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    margin: 1px 0 1px 0;
    background-color: #ddeeff;
}

div.downloadWindow input[type=button] {
    color: #113355;
    font-weight:bold;
    box-shadow: 2px 2px #335577;
}

div.downloadWindow input[type=button]:hover {
    color: #557799;
}

div.downloadWindow input[type=button]:active {
    box-shadow: 0px 0px;
    top: 2px;
    left: 2px;
    position: relative;
}

div.downloadWindow
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="button"]:hover,
.uneditable-input:focus {
  border-color: rgba(0, 0, 100, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 100, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 100, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 100, 0.6);
}

div.filterActions {
    margin: 0;
    position: absolute;
    top: 74px;
    left: 900px;
    z-index: 100;
    font-weight: bold;
    width: 400px;
    padding: 3px;
    border: 1px solid #345280;
}
div.filterActions .header {
    color: white;
    float: left;
    border: 1px solid #345280;
}
div.filterActions .item {
    color: white;
    float: left;
    border: 1px solid #345280;
}
div.filterActions .item a {
    border: 1px solid #345280;
}
div.filterActions .item a:hover {
    color: #345280;
    background: white;
    border: 1px solid white;
}
div.filterActions a {
    display:block;
    background-color:inherit;
    color:inherit;
    text-decoration: none;
}
div.filterActions a:before {
    content: '\0000a0\0000a0';
}
div.filterActions a:after {
    content: '\0000a0\0000a0';
}



div.menubar {
    margin:0;
    padding:0;
    position:absolute;
    top:74px;
    left:1300px;
    z-index:100;
    font-weight:bold;
}
div.menubar div.menu {
    float: left;
    width: 100px;
    height: 20px;
    overflow-y: hidden;
    color: white;
    background: #345280;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 3px;    
    border: 1px solid #345280;
    overflow: hidden;
}
div.menubar div.menu:hover {
    float: left;
    height: auto;
    color: #345280;
    background: white;
    padding: 1px 4px 0px 4px;
    padding-bottom: 0px;
    border-top: 5px solid #345280;
	width: 107px;
}
div.menu div.header {
    height:30px;
    display:inline-block;
}
div.menu div.item {
    background: white;
    color: #345280;
    display:inline-block;
    width:110px;
    border: 1px solid #345280;
    border-bottom:0px;
    padding-top: 4px;
    padding-bottom: 4px;
}
div.menu div.item:hover {
    color: white;
    background: #345280;
}
div.menu a {
    display:block;
    background-color:inherit;
    color:inherit;
    text-decoration: none;
}
div.menu a:before {
    content: '\0000a0\0000a0';
}
