.nav {
    margin:0;
}
div.olMap {
	float:left;
}
div.filter {
	position: absolute;
    top: 106px;
    left: 1006px;
}
#nlcdlegendOld {
	width: 244px;
	position: relative;
    left: 758px;
    top: 152px;
    height: 400px;
	z-index: 10;
}
#nlcdimg {
    width: 244px;
    height: 400px;
	position: absolute;
	left: 757px;
	top: 151px;
	z-index: 1000;
}
#nlcdlegend span {
	z-index: 10;
	top: 634px;
	left: 899px;
	background-color: #345280;
	font-weight: bold;
	color: white;
	width: 98px;
	height: 18px;
	padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
	cursor: pointer;
}
#nlcdimg {
	display:none;
}
#nlcdthumb {
    display:none;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: #345280;
}

div.warn, div.filterWarn {
    color:#990000;
    background:#FFCCCC;
}
div.inputfilterWarnOn {
    padding: 3px;
    border: 1px solid #990000;
}

div.inputFilterWarn input {
	border: 1px solid #990000;
}


#siteInfo {
    position: absolute;
    left: 50px;
    top: 110px;
    border: 2px solid #345280;
    color: #345280;
    background-color: #D4DEED;
    display:none;
}
.singleSiteInfo {
	width:900px;
	clear:both;
	border-top: 1px solid;
	display:none;
}
.siteDatum {
    width:150px;
    float: left;
}
.siteInfoLabel {
    font-weight:bold;
    clear:both;
}
.siteInfoSubLabel {
	margin-left: 10px;
    width: 75px;
}
.siteInfoSubLabel:after {
    content:':';
}
.siteInfoData {
    margin-left: 20px;
	float: left;
}






