<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    
    <description>Sediment Mapping Application</description>
    <display-name>Sediment Mapping</display-name>


    <servlet>
        <servlet-name>GeoserverProxyServlet</servlet-name>
        <servlet-class>gov.cida.sedmap.web.GeoserverProxy</servlet-class>
        <init-param>
            <param-name>forward-context</param-name>
            <param-value>ignore/me/bc/the/servlet/supplies/its/own/url</param-value>
        </init-param>
        <init-param>
            <param-name>skip-jsession-cookie</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping> 
        <servlet-name>GeoserverProxyServlet</servlet-name> 
        <url-pattern>/map/*</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>GeoserverProxyServlet</servlet-name> 
        <url-pattern>/flow/*</url-pattern> 
    </servlet-mapping>

    <servlet>
        <servlet-name>DataService</servlet-name>
        <servlet-class>gov.cida.sedmap.web.DataService</servlet-class>
    </servlet>
    <servlet-mapping> 
        <servlet-name>DataService</servlet-name> 
        <url-pattern>/data/*</url-pattern> 
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>	
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
     
</web-app>
